section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
    border-radius: 1em 1em 1em 1em;
}

.recipes>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.recipes>div>div {
    height: 50%;
    margin: 1em;
    color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recipes>div {
    border: 1px solid gray;
    border-radius: 1em 1em 0 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background: #f3c23d;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;

    width: 20%;
    border: 1px solid grey;
    color: white;
    margin: 0;
    line-height: 2.5em;

}

.social-section {
    display: flex;
    justify-content: space-between;
    margin: 3em;
}