body {
    margin: 0;

}

.container {

    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #f3c23d 10%, #f3d685 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo {

    width: 50%;
    text-align: center;

}

.login-container {

    width: 50%;

}

form.login, form.register {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;

}

form.register {
    height: auto;
}

button {
    
    background: transparent linear-gradient(180deg, #f3c23d 0%, #ecb92d 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;

}

button.up {
    background: transparent linear-gradient(180deg, #e9d5a0 0%, #f3d685 100%) 0% 0% no-repeat padding-box;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input {

    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;

}

@media only screen and (max-device-width: 400px) {

    .container {
        background: transparent linear-gradient(180deg, #f3c23d 0%, #ecb92d 100%) 0% 0% no-repeat padding-box;
        flex-direction: column;

    }

    * {

        font-size: 36px;

    }
    .logo {
        width: 100%;
    }

    .login-container {

        width: 100%;

    }

    form {

        margin: auto;

    }

    img {

        height: 7em;
        margin: 2em;

    }

}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: transparent linear-gradient(180deg, #f3c23d 0%, #ecb92d 100%) 0% 0% no-repeat padding-box;;
}

nav {
    width: 20vw;
    height: 100%;
    background: #FFFFFFE0 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #e9d5a0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.2em;
    border-bottom: 1px solid gray;
    background: #ecb92d;
}

nav > img {
    width: 60%;
    margin: 4em 2em 4em auto;
}

a {
    text-decoration: none;

    display: inline-block;
    line-height: 2em;

}

li i {
    font-size: 1.5em;
}

.button {
    border: 1px solid #f3c23d;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: #ecb92d;
    padding: 0.2em;
    width: 60%;
}

ul {
    list-style-type: none;
    color: #f3c23d;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0.72px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    position: relative;
}

li {
    text-align: left;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa,
.fas {
    font-weight: 900;
    width: 1em;
}

.search_bar {
    width: 25%;
}

.search_bar>form>input {
    background: transparent linear-gradient(180deg, #e9d5a0 0%, #f3d685 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    color :gray;
    margin: 0;
    box-sizing: border-box;
}